>
        <input type="number" v-model="celcius"> ConvertToFahrenheit  :
        <!-- <button @click="convertToFahrenheit()">
            convert to fahrenheit
        </button> -->
        {{ fahrenheit }}
    </div>
    <script>
        const App = {
            data(){
                return{
                    celcius: 25,
                    // fahrenheit: 0
                }
            },
            methods:{
                // convertToFahrenheit(){
                //     this.fahrenheit = 1.8*this.celcius+32
                // }
            },
            computed:{
                fahrenheit(){
                    return 1.8*this.celcius+32
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
    
</body>
</html>
